

<div class="row">
  <div class="col-auto">
     <div>
        <img src={{profilePicture}} alt="" id="uploadedimage">
    </div>
    <h2>Welcome, {{name}}!</h2>
    <p>Email: {{email}} </p>
  </div>
</div>

<div>
  {{#if isProvider}}
  <div class="col-md-6 profile-page">
    <h3>Thank you for being a Provider!</h3>
    <h3>Your Provider Info:</h3>
    <p>Phone: {{providerInfo.phone}}</p>
    <p>Service City: {{providerInfo.city}}</p> 
    {{#if providerInfo.dogWalk}}
    <p>Dog Walks Available</p>
    {{/if}}

    {{#if providerInfo.dogFeed}}
    <p>Dog Feeding Available</p>
    {{/if}}

    {{#if providerInfo.sTDogSit}}
    <p>Short-Term Dog Sitting Available</p>
    {{/if}}
    
    {{#if providerInfo.lTDogSit}}
    <p>Long-Term Dog Sitting Available</p>
    {{/if}}

    {{#if providerInfo.small}}
    <p>Works with small dogs (40 pounds and under).</p>
    {{/if}}

    {{#if providerInfo.medium}}
    <p>Works with medium dogs (40 pounds to 80 pound).</p>
    {{/if}}

    {{#if providerInfo.large}}
    <p>Works with large dogs (80 pounds and larger).</p>
    {{/if}}
    
{{else}}
<div class="col-md-6 profile-page">
  <button class="btn btn-primary" id="becomeProvider" >Become a Provider</button>
</div>

{{/if}}

<div class="col-md-6 profile-page">
  <button class="btn btn-primary" id="updateProfile" providerCheck="{{isProvider}}" >Update Profile</button>
</div>

<script src="./js/profile.js"></script>
